<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="onRegresarMenuPrincipal()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
      <a>PLAN</a>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="transparente">
    <img [src]="tratamiento.img">
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
      <ion-row>
        <ion-col>
          <div>
            <p><strong>{{tratamiento.name |uppercase}}</strong></p>
            <p>{{tratamiento.descripcionLarga}}</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center espacio">
        <ion-col size="1"> <ion-icon name="flag-outline"></ion-icon></ion-col>
        <ion-col> <p>Rutinas</p></ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center espacio">
        <ion-col size="1"> <ion-icon name="calendar-outline"></ion-icon></ion-col>
        <ion-col> <p>6 Semanas</p></ion-col>
      </ion-row>
        <hr>
        <p lines="inset">
          <a>TRATAMIENTOS</a>
        </p>
    
          <ion-list>
            <ion-item *ngFor="let plan of tratamiento.planSemanal" (click)="onVerDetalle(plan.id)">
              <ion-avatar slot="start">
                <img [src]="'/assets/img/man-sick.jpg'">
              </ion-avatar>
              <ion-label>
                <h2>{{plan.nombre}}</h2>
                <h3>Tratamiento</h3>
                <p>{{plan.detalle | slice:0:50}}...</p>
              </ion-label>
            </ion-item>
          </ion-list>
    </ion-col>
    </ion-row>
  </ion-grid>