 
  .titulo-card {
    color: white;
    font-weight: bold;
    font-size: 1.8vh;
  }

  .subTitle-card {
    font-size: 1.2vh;
    color: white;
  }
  
  .free-plan {
    padding: 3px 5px;
    font-weight: bold;
    display: inline;
    color: white;
    font-size: x-small;
    background-color: rgb(2, 151, 154);
  }

  .transparente{
    height: auto;
    width: 100%;
      background:rgba(0, 0, 0, 0.201);
  }
  
  ion-card {
    box-shadow: 2px 2px 2px 1px rgba(84, 44, 44, 0.2);
    background-size: cover;
    width: 100%;
  }
  p > a{
      text-decoration: none;
      color: white;
      font-size: larger;
  }