<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="onRegresarMenuPrincipal()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
      <a>PLAN</a>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
  <ion-col>
    <ion-row>
        <iframe src="/assets/video/Background.mp4" width="100%" height="315" allow="autoplay;" frameborder="0"
       allowfullscreen></iframe>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          {{detalle.nombre}}
        </ion-row>
        <ion-row>
        <p>  NIVEL </p>
          {{detalle?.nivel}}
        </ion-row>
        <ion-row>
          <p>DESCRIPCION</p>
          {{detalle.detalle}}
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-grid>
</ion-content>
