.borde {
  border-top: green solid 1px;
}
.title-slides {
  width: 100%;
}
.slides-secction{
  border-top: 1px solid grey;
  margin: 5px 0;
}
ion-menu-button {
  color: var(--ion-color-primary);
}
ion-content {
  background-color: #f7f7f7;
}

ion-card {
  width: auto;
  height: auto;
}

ion-card {
  box-shadow: 2px 2px 2px 1px rgba(84, 44, 44, 0.2);
  background-size: cover;
}

.transparente{
  height: 150px;
	background:rgba(0, 0, 0, 0.201);
}

a {
  text-decoration: none;
  font-size: 2vh;
}
ion-card-subtitle {
  font-size: 1vh;
  color: black;
}

.free-plan {
  padding: 3px 5px;
  font-weight: bold;
  display: inline;
  color: white;
  font-size: x-small;
  background-color: rgb(2, 151, 154);
}
.titulo-card {
  color: white;
  font-weight: bold;
  font-size: 1.8vh;
}
.subTitle-card {
  font-size: 1.2vh;
  color: white;
}
ion-card-title {
  color: back;
  font-weight: bold;
  font-size: 2vh;
}