<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Postcovid rehabilitation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p class="ion-padding ion-text-left"><a href="">TRAINING PLANS</a></p>
    <ion-list>
      <ion-item lines="none" *ngFor="let item of itemList; index as indice" (click)="onVerTratamiento(item.id)">
        <ion-card [ngStyle]="{'background-image':'url('+item.img+')'}">
          <div class="transparente">
            <ion-grid>
              <ion-col class="ion-align-items-end"> 
                <ion-card-header>
                  <div class="free-plan">FREE PLAN</div>
                  <ion-card-title>{{item.name | uppercase}}</ion-card-title>
                  <ion-card-subtitle>{{item.subTitile}}</ion-card-subtitle>
                  <p></p>
                  <p></p>
                </ion-card-header>
              </ion-col>
            </ion-grid>
          </div>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
</ion-content>