<ion-tabs selectIndex="2">
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="noticias">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ejercicio">
      <ion-icon name="accessibility-outline"></ion-icon>
      <ion-label>Ejercicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="opciones">
      <ion-icon name="options-outline"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>person-circle